{
  "parser": "babel-eslint",
  "extends": [
    "plugin:jsx-a11y/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "prettier",
    "prettier/react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "prettier/prettier": "error"
  },
  "plugins": ["jsx-a11y", "prettier"]
}
